/ %table{:cellpadding => "0", :cellspacing => "0", width: "100%"}
/   %tbody
/     %tr
/       %td
/         %table{:cellpadding => "0", :cellspacing => "0"}
/           %tbody
/             %tr
/               %img{src: "https://mnubragado.com/img/newsletter/logoUM.png", style: "height: 50%; margin: 0 25%;"}

              

%table{:cellpadding => "0", :cellspacing => "0", width: "100%", style: "padding-left: 60px; padding-right: 60px; padding-top: 60px;"}
  %tbody
    %tr
      %td
        %table{:cellpadding => "0", :cellspacing => "0"}
          %tbody
            %tr
              %div{style: "background-image: url(https://mnubragado.com/img/newsletter/arrows.png); background-size: cover; position: relative; width: 100%; height: 620px;"}
                / %img{src: "https://mnubragado.com/img/newsletter/arrows.png", style: "width: 100%;"}  
                %img{src: "https://mnubragado.com/img/newsletter/logoUM.png", style: "width: 60%; position: relative; left: 0px; top: -25px;"}

                %div{style: "position: absolute; bottom: 80px; left: -40px;"}  
                  %img{src: "https://mnubragado.com/img/newsletter/capacitaciones.png", style: "width: 200px;"}
                  %a{href: "https://mnubragado.com/capacitaciones", target: "_blank"}
                    %img{src: "https://mnubragado.com/img/newsletter/capa-icon.png", style: "width: 80px; position: absolute; bottom: 50px; right: 110px;"}

                %div{style: "position: absolute; top: 330px; left: 315px;"}  
                  %img{src: "https://mnubragado.com/img/newsletter/colecta.png", style: "width: 200px;"}
                  %a{href: "https://mnubragado.com/colecta", target: "_blank"}
                    %img{src: "https://mnubragado.com/img/newsletter/colecta-icon.png", style: "width: 80px; position: absolute; bottom: 50px; right: 40px;"}


                %div{style: "position: absolute; top: 200px; left: 0;"}  
                  %img{src: "https://mnubragado.com/img/newsletter/concurso.png", style: "width: 200px;"}
                  %a{href: "https://mnubragado.com/concurso/fotos", target: "_blank"}
                    %img{src: "https://mnubragado.com/img/newsletter/concurso-icon.png", style: "width: 80px; position: absolute; bottom: -60px; right: 45px;"}


                %div{style: "position: absolute; top: -50px; right: -40px;"}  
                  %img{src: "https://mnubragado.com/img/newsletter/fotos.png", style: "width: 200px;"}
                  %a{href: "https://mnubragado.com/fotos", target: "_blank"}
                    %img{src: "https://mnubragado.com/img/newsletter/fotos-icon.png", style: "width: 80px; position: absolute; bottom: -30px; right: 60px;"}


                %div{style: "position: absolute; top: 120px; right: -40px;"}  
                  %img{src: "https://mnubragado.com/img/newsletter/ganadores.png", style: "width: 200px;"}
                  %a{href: "https://mnubragado.com/ganadores", target: "_blank"}
                    %img{src: "https://mnubragado.com/img/newsletter/ganadores-icon.png", style: "width: 80px; position: absolute; bottom: 20px; right: 10px;"}


                %div{style: "position: absolute; bottom: 20px; left: 150px;"}  
                  %img{src: "https://mnubragado.com/img/newsletter/revista.png", style: "width: 200px;"}
                  %a{href: "https://mnubragado.com/revista", target: "_blank"}
                    %img{src: "https://mnubragado.com/img/newsletter/revista-icon.png", style: "width: 80px; position: absolute; bottom: -30px; right: 60px;"}


%br
%br
%br
%br
%br
%br
// %hr{style: "margin-left: 60px; margin-right: 60px;"}
%br
