%table{:cellpadding => "0", :cellspacing => "0", width: "100%", style: "padding-left: 0px; padding-right: 0px; padding-top: 0px; background-color: white;"}
  %tbody{style: "background-image: url(https://mnubragado.com/img/newsletter/arrows3.png); background-position: center; background-size: 100% 100%;"}
    %tr
      %td{style: "width: 50%;"}  
        %img{src: "https://mnubragado.com/img/newsletter/logoUM.png", style: "width: 100%; padding-left: 50px; padding-top: 30px;"}
      %td{style: "width: 50%;"}
        %div{style: "padding-left: 50px;"}  
          %a{href: "https://mnubragado.com/fotos", target: "_blank"}
            %img{src: "https://mnubragado.com/img/newsletter/fotosbutton.png", style: "width: 180px;"}

    %tr
      %td{style: "padding-top: 45px; padding-left: 70px; width: 50%;"}
        %div{style: ""}  
          %a{href: "https://mnubragado.com/concurso/fotos", target: "_blank", style: ""}
            %img{src: "https://mnubragado.com/img/newsletter/concursobutton.png", style: "width: 215px;"}
      %td{style: "width: 50%;"}
        %div{style: "margin-top: 40px; padding-left: 90px;"}  
          %a{href: "https://mnubragado.com/ganadores", target: "_blank", style: ""}
            %img{src: "https://mnubragado.com/img/newsletter/ganadoresbutton.png", style: "width: 200px;"}

    %tr
      %td{style: "padding-top: 50px; padding-left: 65px; width: 50%;"}
        %div{style: ""}  
          %a{href: "https://mnubragado.com/capacitaciones", target: "_blank", style: ""}
            %img{src: "https://mnubragado.com/img/newsletter/capacitacionesbutton.png", style: "width: 215 px;"}

      %td{style: "width: 50%;"}
        %div{style: "margin-top: 20px;"}  
          %a{href: "https://mnubragado.com/colecta", target: "_blank", style: ""}
            %img{src: "https://mnubragado.com/img/newsletter/colectabutton.png", style: "width: 215px;"}

    %tr
      %td
        %div{style: ""}  
          %a{href: "https://mnubragado.com/revista", target: "_blank", style: "margin-left: 190px; margin-bottom: 20px;"}
            %img{src: "https://mnubragado.com/img/newsletter/revistabutton.png", style: "width: 215px;"}


%br
%br
%br
%br
%br
%br
%br
