#email hr {
  border: 1px solid #EAEAEA;
}

#email .text-center {
  text-align: center;
}

#email .text-formt-bold-only {
  font-weight: bold;
  font-size: 15px;
}

#email .text-format-bold{
  color: #FED137;
  text-decoration: none;
}

#email .font-size-12 {
  font-size: 12px;
}

#email .text-grey {
  color: #888B8C;
  font-size: 12px;
}

#email .text-navy {
  color: #20BFA9;
  text-decoration: none;
  font-size: 12px;
}

/* -------------------------------------
    GLOBAL
    A very basic CSS reset
------------------------------------- */
#email * {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

#email img {
    max-width: 100%;
}

#email body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    width: 100% !important;
    height: 100%;
    line-height: 1.6;
}

/* Let's make sure all tables have defaults */
#email table td {
    vertical-align: top;
}

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
#email body {
    background-color: #f6f6f6;
}

#email .body-wrap {
    background-color: #f6f6f6;
    width: 100%;
}

#email .container {
    display: block !important;
    max-width: 740px !important;
    margin: 0 auto !important;
    /* makes it centered */
    clear: both !important;
}

#email .content {
    max-width: 740px;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */
#email .main {
    background: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
}

#email .content-wrap {
    padding: 20px;
}

#email .content-block {
    padding: 0 0 20px;
}

#email .header {
    width: 100%;
    margin-bottom: 20px;
}

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
#email h1, #email h2, #email h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #000;
    margin: 40px 0 0;
    line-height: 1.2;
    font-weight: 400;
}

#email h1 {
    font-size: 32px;
    font-weight: 500;
}

#email h2 {
    font-size: 24px;
}

#email h3 {
    font-size: 18px;
}

#email h4 {
    font-size: 14px;
    font-weight: 600;
}

#email p, ul, ol {
    margin-bottom: 10px;
    font-weight: normal;
}
#email p li, ul li, ol li {
    margin-left: 5px;
    list-style-position: inside;
}

/* -------------------------------------
    LINKS & BUTTONS
------------------------------------- */
#email a {
    color: #20BFA9;
    text-decoration: underline;
}

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
#email .last {
    margin-bottom: 0;
}

#email .first {
    margin-top: 0;
}

#email .aligncenter {
    text-align: center;
}

#email .alignright {
    text-align: right;
}

#email .alignleft {
    text-align: left;
}

#email .clear {
    clear: both;
}

/* -------------------------------------
    ALERTS
    Change the class depending on warning email, good email or bad email
------------------------------------- */
#email .alert {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    border-radius: 3px 3px 0 0;
}
#email .alert a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
#email .alert.alert-warning {
    background: #fed136;
}
#email .alert.alert-black {
    background: #2c3e50;
}
#email .alert.alert-bad {
    background: #ed5565;
}
#email .alert.alert-good {
    background: #20BFA9;
}

/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (max-width: 640px) {
    #email h1, #email h2, #email h3, #email h4 {
        font-weight: 600 !important;
        margin: 20px 0 5px !important;
    }

    #email h1 {
        font-size: 22px !important;
    }

    #email h2 {
        font-size: 18px !important;
    }

    #email h3 {
        font-size: 16px !important;
    }

    #email .container {
        width: 100% !important;
    }

    #email .content, #email .content-wrap {
        padding: 10px !important;
    }

}
