//Team Section
.team-member img.hover {
  display: none;
}

.team-member img.nohover:hover {
  display: none;
  .hover{
    display: block;
  }
} 

.team-member img.hover:hover {
  display: block;
  .nohover{
    display: none;
  }
}

//About Section
.timeline-item {
  -webkit-box-shadow: none; 
  border: none; 
  box-shadow: none;
}

