%body#page-top.index

%section#inscription{style: "background-color: white; margin-top: 0px; padding-top:  0px;"}
  .container
    .row
      .col-xs-12
        .js-item-container
          = simple_form_for(@professor_inscription, html: { class: "form js-item-form" }) do |f|
            .admin-common-panel
              .row.admin-common-panel__content
                = render "/professor_inscriptions/professor_fields", f: f
              .row
                .col-xs-12
                  = render "/inscriptions/qrcode_section", qr: @qr
