%body#page-top.index
  = render "/shared/simple_navbar"

  = render "/shared/shared_header", id: "inscription"

  .container{style: "margin-top: -50px;"}
    .row
      .col-xs-12
        %h2.text-center
          ¡Felicitaciones!
        %h3.text-center
          ¡Ya sos parte del modelo! Para finalizar, tenés que presentarle, junto con el del resto de tu delegación, el pdf con la inscripción a tu docente a cargo.
          

      .col-xs-12
        %br
        .col-xs-12.text-center
          %button.btn.btn-primary
            = link_to "Descargar PDF", delegate_inscription_path(id: @delegate_inscription.id, format: :pdf), style: "color: white; text-decoration: none;"

        %br
        %br
        %br
      .col-xs-12
        %h5.text-center
          La inscripción tambien te ha sido enviada al email indicado

%body#page-top.index
  = render "/shared/simple_footer"