.col-xs-12
  %h2.text-center
    ¡Felicitaciones!
  %h3.text-center
    ¡Ya sos parte del modelo! Para finalizar, tenes que imprimir el formulario, firmarlo y presentarlo junto con el costo de la inscripción en el Hogar San Vicente