%h2.text-center
  ¡Felicitaciones!
%h3.text-center
  ¡Ya sos parte del modelo! Para finalizar la inscripción, tenes que imprimir el formulario, firmarlo y presentarlo junto con el dinero de la inscripción en la proxima capacitación