.col-xs-12
  %h2.text-center
    ¡Felicitaciones!
  %h3.text-center
    ¡Ya sos parte del modelo! Para finalizar, tenes que imprimir el formulario, firmarlo y presentarlo junto con el resto de tu delegación más el costo de la inscripción en el Hogar San Vicente
  
  %h5
    %b
      Los participantes que no pertenecen a instituciones de Bragado deberán entregar las inscripciones a sus docentes, y son ellos los que solicitan los países a representar