%table{:cellpadding => "0", :cellspacing => "0", width: "100%", style: "padding-left: 60px; padding-right: 60px;"}
  %tbody
    %tr
      %td
        %table{:cellpadding => "0", :cellspacing => "0"}
          %tbody
            %tr
              %h1.text-center
                ¡Felicitaciones!            

              %h3
                ¡Ya sos parte del modelo! Para finalizar, tenés que imprimir el formulario, firmarlo y presentarselo, junto con el resto de tu delegación más el costo de la inscripción, a tu docente a cargo

              
%br
%hr{style: "margin-left: 60px; margin-right: 60px;"}
%br


%table{:cellpadding => "0", :cellspacing => "0", width: "100%", style: "padding-left: 60px; padding-right: 60px;"}
  %tbody
    %tr
      %td
        %table{:cellpadding => "0", :cellspacing => "0"}
          %tbody
            %tr
              %h6
                %b
                  Los participantes que no pertenecen a instituciones de Bragado deberán entregar las inscripciones a sus docentes, y son ellos los que solicitan los países a representar  


%br
%hr{style: "margin-left: 60px; margin-right: 60px;"}
%br


%table{:cellpadding => "0", :cellspacing => "0", width: "100%", style: "padding-left: 60px; padding-right: 60px;"}
  %tbody
    %tr
      %td
        %table{:cellpadding => "0", :cellspacing => "0"}
          %tbody
            %tr
              %td
                .text{style: "font-size: 16px;"}
                  ¡Muchas Gracias!
                  %br
                .text{style: "font-size: 16px;"}
                  Equipo MNU Bragado

%br
