.col-xs-12
  %h2.text-center
    ¡Felicitaciones!
  %h3.text-center
    ¡Ya sos parte del modelo! Para finalizar la inscripción, tenes que imprimir el formulario adjunto, firmarlo y presentarlo junto con el resto de tu delegación en la proxima capacitación