%table{:cellpadding => "0", :cellspacing => "0", width: "100%", style: "padding-left: 60px; padding-right: 60px;"}
  %tbody
    %tr
      %td
        %table{:cellpadding => "0", :cellspacing => "0"}
          %tbody
            %tr
              %h1.text-center
                ¡Felicitaciones!            

              %h3
                ¡Ya sos un docente del modelo! Para finalizar la inscripción, tenes que imprimir el formulario adjunto, firmarlo y enviarlo escaneado a mnubragado@gmail.com

              
%br
%hr{style: "margin-left: 60px; margin-right: 60px;"}
%br


%table{:cellpadding => "0", :cellspacing => "0", width: "100%", style: "padding-left: 60px; padding-right: 60px;"}
  %tbody
    %tr
      %td
        %table{:cellpadding => "0", :cellspacing => "0"}
          %tbody
            %tr
              %td
                .text{style: "font-size: 16px;"}
                  ¡Muchas Gracias!
                  %br
                .text{style: "font-size: 16px;"}
                  Equipo MNU Bragado

%br
