%h2.text-center
  ¡Felicitaciones!
%h3.text-center
  ¡La escuela ya forma parte del modelo! Para finalizar la inscripción, tenes que imprimir el formulario adjunto, firmarlo y enviarlo escaneado a mnubragado@gmail.com