%td.alert.alert-black{ style: "border-radius: 0; padding-left: 60px; padding-right: 60px;" }

  %table{:cellpadding => "0", :cellspacing => "0", width: "100%"}
    %tbody
      %tr
        %td
          %h1{style: "color: white; font-weight: bold; margin: 0px;"}
            MNU Bragado

        %td{style: "padding-left: 20px; padding-right: 0px; padding-top: 5px;", align: "right"}
          %ul{style: "display: inline-flex;"}
            %li{style: "display: inline-flex; list-style-type: none; margin-right: 10px; margin-left: 10px;"}
              %a{href: "https://www.facebook.com/ModeloNacionesUnidasBragado/", target: "_blank"}
                Facebook
            %li{style: "display: inline-flex; list-style-type: none; margin-right: 10px; margin-left: 10px;"}
              %a{href: "https://www.instagram.com/mnubragado/", target: "_blank"}
                Instagram
            %li{style: "display: inline-flex; list-style-type: none; margin-right: 10px; margin-left: 10px;"}
              %a{href: "https://twitter.com/MNUBragado", target: "_blank"}
                Twitter
            %li{style: "display: inline-flex; list-style-type: none; margin-right: 10px; margin-left: 10px;"}
              %a{href: "mailto:mnubragado@gmail.com"}
                Email

  %br
  %hr{style: "padding-left: 60px; padding-right: 60px; font-weight: 400;"}
  %br

  %table{:cellpadding => "0", :cellspacing => "0", width: "100%"}
    %tbody
      %tr
        %td
          .text-formt-bold-only
            .text{style: "color: white; font-size: 14px; width: 200px;"}
              ¿Tenés alguna crítica o sugerencia para hacernos?

      %tr
        %td
          .text{style: "color: #E7E7E7; font-size: 14px; font-weight: 300; width: 300px; margin-top: 10px;"}
            Escribinos a mnubragado@gmail.com. Tu comentario nos ayuda a mejorar nuestro servicio día a día