%header{style: "background-color: #222; background-image: url('/img/principal/mnubragado-background2.png');", id: id}
  .container{style: "padding-top: 70px; padding-bottom: 240px; margin-top: 50px;"}
    .row
      .col-lg-12