%section#about.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Sobre Nosotros
        %h3.section-subheading.text-muted
          /Uniendo Metas, Jóvenes para el Futuro, es un programa que tiene como principal objetivo fortalecer las capacidades de jóvenes con el fin de prepararlos para ejercer un liderazgo comprometido, activo y responsable.
          Nuestro principal objetivo es fortalecer capacidades para el ejercicio de un liderazgo comprometido, activo, responsable y sustentable en jóvenes estudiantes de nivel secundario de escuelas de gestión estatal y privada de todo el país.


    .row
      .col-md-3.col-sm-4.about-item
        %a.about-link{href: "#", onclick: "return false;", style: "background-color: #157C3A"}
          .about-hover
            .about-hover-content{style: "top: 45%;"}
              de escuelas públicas y privadas de todo el país
          .about-original
            .about-text
              Alumnos de 14 a 18
      .col-md-3.col-sm-4.about-item
        %a.about-link{href: "#", onclick: "return false;", style: "background-color: #2A8CC8"}
          .about-hover
            .about-hover-content{style: "top: 45%;"}
              fueron los presentes en el modelo 2018
          .about-original
            .about-text
              550 participantes
      .col-md-3.col-sm-4.about-item
        %a.about-link{href: "#", onclick: "return false;", style: "background-color: #EADC27"}
          .about-hover
            .about-hover-content{style: "top: 45%;"}
              son los que se representan en Bragado
          .about-original
            .about-text
              5 órganos
      .col-md-3.col-sm-4.about-item
        %a.about-link{href: "#", onclick: "return false;", style: "background-color: #D86313"}
          .about-hover
            .about-hover-content{style: "top: 45%;"}
              Concurso de desgustación de platos típicos
          .about-original
            .about-text
              Cultura y Comida
      .col-md-3.col-sm-4.about-item
        %a.about-link{href: "#", onclick: "return false;", style: "background-color: #F6D9D9"}
          .about-hover
            .about-hover-content{style: "top: 45%;"}
              luego de 3 años de no realización, vuelve MNU
          .about-original
            .about-text
              2013
      .col-md-3.col-sm-4.about-item
        %a.about-link{href: "#", onclick: "return false;", style: "background-color: #D94F42"}
          .about-hover
            .about-hover-content{style: "top: 45%;"}
              nuestro sponsor incondicional de siempre
          .about-original
            .about-text
              Acerbrag
      .col-md-3.col-sm-4.about-item
        %a.about-link{href: "#", onclick: "return false;", style: "background-color: #57B1C8"}
          .about-hover
            .about-hover-content{style: "top: 45%;"}
              la triple articulación que se da en Uniendo Metas
          .about-original
            .about-text
              Estado-Empresa-ONG
      .col-md-3.col-sm-4.about-item
        %a.about-link{href: "#", onclick: "return false;", style: "background-color: #524482"}
          .about-hover
            .about-hover-content{style: "top: 45%;"}
              festejamos los 20 años de modelos en Bragado
          .about-original
            .about-text
              2014
      .col-md-3.col-sm-4.about-item
        %a.about-link{href: "#", onclick: "return false;", style: "background-color: #A1B550"}
          .about-hover
            .about-hover-content{style: "top: 45%;"}
              que trabajan para que todo salga genial
          .about-original
            .about-text
              30 voluntarios
      .col-md-3.col-sm-4.about-item
        %a.about-link{href: "#", onclick: "return false;", style: "background-color: #49AC7B"}
          .about-hover
            .about-hover-content{style: "top: 45%;"}
              se comprometieron con nosotros en 2017
          .about-original
            .about-text
              16 instituciones
      .col-md-3.col-sm-4.about-item
        %a.about-link{href: "#", onclick: "return false;", style: "background-color: #EC985C"}
          .about-hover
            .about-hover-content{style: "top: 45%;"}
              participaron del encuentro en 2018
          .about-original
            .about-text
              9 ciudades
      .col-md-3.col-sm-4.about-item
        %a.about-link{href: "#", onclick: "return false;", style: "background-color: #1C5886"}
          .about-hover
            .about-hover-content{style: "top: 45%;"}
              es lo que dura nuestro MNU Bragado
          .about-original
            .about-text
              3 días 





    / .row
    /   .col-lg-12
    /     %ul.timeline
    /       %li
    /         .timeline-image
    /           %img.img-circle.img-responsive{style: "height: 100%", :alt => "", :src => "img/about/conciencia.png"}/
    /         .timeline-panel
    /           .timeline-heading
    /             %h4 1982
    /             %h4.subheading Se funda Asociación Conciencia
    /           .timeline-body
    /             %p.text-muted es una organización de la sociedad civil, no partidaria y sin fines de lucro. Trabaja para alcanzar la formación para la ciudadanía desde una perspectiva integral, contemplando la participación comunitaria y la inclusión social
    /       %li.timeline-inverted
    /         .timeline-image
    /           %img.img-circle.img-responsive{style: "height: 100%", :alt => "", :src => "img/about/bragado.jpg"}/
    /         .timeline-panel
    /           .timeline-heading
    /             %h4 1994
    /             %h4.subheading 1er modelo en Bragado
    /           .timeline-body
    /             %p.text-muted Conciencia lleva a cabo este programa desde 1994, 1er modelo bragado impulsado por el Profesor Federico Balsa
    /       %li
    /         .timeline-image
    /           %img.img-circle.img-responsive{style: "height: 100%", :alt => "", :src => "img/about/johnson.png"}/
    /         .timeline-panel
    /           .timeline-heading
    /             %h4 2005
    /             %h4.subheading Se unen la ONG con el sector privado
    /           .timeline-body
    /             %p.text-muted la empresa SC Johnson & Son se convirtió en socio estratégico de Uniendo Metas con la misión de contribuir al desarrollo sustentable de la comunidad a través de iniciativas que promuevan el bienestar. Por eso, se incluyeron a los debates tópicos relacionados con el medioambiente y la adecuada gestión de los recursos naturales.
    /       %li.timeline-inverted
    /         .timeline-image
    /           %img.img-circle.img-responsive{style: "height: 100%", :alt => "", :src => "img/about/capacitadores2013.jpg"}/
    /         .timeline-panel
    /           .timeline-heading
    /             %h4 2013
    /             %h4.subheading Vuelve el modelo a bragado
    /           .timeline-body
    /             %p.text-muted Desde el año 2013, luego de una interrupción de 3 años sin modelo, jóvenes entusiastas tomaron la posta del comité organizador y “repatriaron” el modelo a bragado
    /       %li
    /         .timeline-image
    /           %img.img-circle.img-responsive{style: "height: 100%", :alt => "", :src => "img/about/4.jpg"}/
    /         .timeline-panel
    /           .timeline-heading
    /             %h4 2014
    /             %h4.subheading El modelo cobra mayor interés
    /           .timeline-body
    /             %p.text-muted El modelo de bragado fue declarado de interés municipal por el Honorable Consejo Deliberante de Bragado
    /       %li.timeline-inverted
    /         .timeline-image
    /           %img.img-circle.img-responsive{style: "height: 100%", :alt => "", :src => "img/about/actualidad.jpg"}/
    /         .timeline-panel
    /           .timeline-heading
    /             %h4 Actualidad
    /             %h4.subheading La Actualidad
    /           .timeline-body
    /             %p.text-muted Mismo comité, mayor organización, la popularidad del modelo se acrecenta año tras año, asi como la cantidad de inscriptos y la entrega de cariño de todos los ciudadanos bragadenses para con el modelo
    /       %li.timeline-inverted
    /         .timeline-image
    /           %h4
    /             Se parte de 
    /             = succeed "Nuestra" do
    /               %br/
    /             = succeed "Historia!" do
    /               %br/