%aside.clients
  .container
    .row
      .col-md-12.col-sm-12
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => "/img/logos.jpg", style: "width: 100%;"}/        
