%section#clients 
  //.bg-light-gray
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %p.large.text-muted Para lograr nuestros objetivos sabemos que es necesario trabajar de manera vinculada. Por esta razón, Conciencia adopta la articulación con el sector público, privado y de la sociedad civil. De esta manera incrementamos la calidad, replicabilidad e impacto de nuestras actividades.
    %br
    %br
    %br
    .row
      .col-md-12.col-sm-12
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => "/img/banner2.png", style: "width: 100%;"}/        
