%footer
  .container
    .row
      .col-md-4
        %span.copyright Copyright © MNUBragado 2016
      .col-md-4
        %ul.list-inline.social-buttons
          %li
            %a{href: "https://twitter.com/MNUBragado", target: '_blank'}
              %i.fa.fa-twitter
          %li
            %a{href: "https://www.facebook.com/ModeloNacionesUnidasBragado/?fref=ts", target: '_blank'}
              %i.fa.fa-facebook
          %li
            %a{href: "https://www.instagram.com/mnubragado/", target: '_blank'}
              %i.fa.fa-instagram
      .col-md-4
        / %ul.list-inline.quicklinks
        /   %li
        /     %a{:href => "#"} Privacy Policy
        /   %li
        /     %a{:href => "#"} Terms of Use