.intro-lead-in{style: "color: #524482;"} Uniendo Metas, Jóvenes para el Futuro
.intro-heading{style: "color: #2A8CC8;"} Modelo Naciones Unidas Bragado
.row
  .col-xs-12.col-md-4{style: "padding: 5px;"}
    %a.page-scroll.btn.btn-xl{:href => "#services", style: "background: #49AC7B; border-color: #49AC7B; width: 100%;"} 
      Quiero saber más
  .col-xs-12.col-md-4{style: "padding: 5px;"}
    %a.page-scroll.btn.btn-xl{:href => inscriptions_path, style: "width: 100%;"} 
      Inscripciones 2018
  .col-xs-12.col-md-4{style: "padding: 5px;"}
    %a.page-scroll.btn.btn-xl{:href => topics_archives_path, style: "background: #D94F42; border-color: #D94F42; width: 100%;"}   
      Tópicos 2018

