%header.header-navbar
  .container
    / Small header content
    .intro-text.intro-text-small.hidden-lg
      = render "/home/header_content"

    / Large header content
    .intro-text.intro-text-large.hidden-xs.hidden-sm.hidden-md
      = render "/home/header_content"



