// %header{style: "background-color: #222; background-image: url('../img/principal/mnubragado-background4.jpeg');"}
= render "/shared/shared_header", id: ""
  
%header{style: "background: white; margin-top: 0px;"}
  .container
    / Small header content
    .intro-text.intro-text-small.hidden-lg{style: "padding-top: 40px;"}
      = render "/home/header_content"

    / Large header content
    .intro-text.intro-text-large.hidden-xs.hidden-sm.hidden-md{style: "padding-top: 0px;"}
      = render "/home/header_content"



