%header{style: "background-color: #222; background-image: url('../img/principal/mnubragado-background4.jpeg');"}
  .container{style: "padding-top: 240px; padding-bottom: 240px; margin-top: 50px;"}
  
%header{style: "background: white; margin-top: -160px;"}
  .container
    / Small header content
    .intro-text.intro-text-small.hidden-lg{style: "padding-top: 40px;"}
      = render "/home/header_content"

    / Large header content
    .intro-text.intro-text-large.hidden-xs.hidden-sm.hidden-md{style: "padding-top: 0px;"}
      = render "/home/header_content"



