%nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink{style: "background: white; border-bottom: 1px solid black;"}
  / Small navbar menu
  .container.container-navbar.hidden-lg
    = render "/home/navbar_content_small"

  / Large navbar menu
  .container.hidden-xs.hidden-sm.hidden-md
    = render "/home/navbar_content_large"

