%li.hidden
  %a{:href => "#page-top"}
%li#header-button-purple
  %a.page-scroll{:href => topics_archives_path} 
    Tópicos
%li#header-button-blue
  %a.page-scroll{:href => inscriptions_path}
    Inscripción
%li#header-button-green
  %a.page-scroll{:href => "#services"}
    Valores
%li#header-button-yellow
  %a.page-scroll{:href => "#portfolio"}
    Material
%li#header-button-red
  %a.page-scroll{:href => "#about"}
    Sobre Nosotros
%li#header-button-brown
  %a.page-scroll{:href => "#team"}
    Equipo
%li#header-button-pink
  %a.page-scroll{:href => "#contact"}
    Contacto