%li.hidden
  %a{:href => "#page-top"}
%li.dropdown#header-button-blue
  %a#dropdownButton.btn.dropdown-toggle.page-scroll{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button", style: "border: 0px;"}
    UM 2019
    %i.fa.fa-caret-down
  %ul.dropdown-menu.dropdown-menu-left.page-scroll{"aria-labelledby" => "dropdownButton"}
    %li.dropdown-item{style: "margin-right: 5px;"}
      %a{:href => inscriptions_path} Inscripciones
    %li.dropdown-item{style: "margin-right: 5px;"}
      %a{:href => topics_archives_path}  Tópicos
    / %li.dropdown-item{style: "margin-right: 5px;"}
    /   %a{:href => schedule_archives_path}  Cronograma
    %li.dropdown-item{style: "margin-right: 5px;"}
      %a{:href => countries_archives_path}  Países
    %li.dropdown-item{style: "margin-right: 5px;"}
      %a{:href => concourse_archives_path}  Concurso
    %li.dropdown-item{style: "margin-right: 5px;"}
      %a{:href => collect_archives_path}  Colecta

%li#header-button-green
  %a.page-scroll{:href => "#services"}
    Valores
%li#header-button-red
  %a.page-scroll{:href => "#about"}
    Sobre Nosotros
%li#header-button-purple
  %a.page-scroll{:href => "#extra"}
    Qué más
%li#header-button-brown
  %a.page-scroll{:href => "#team"}
    Equipo
%li#header-button-yellow
  %a.page-scroll{:href => "#portfolio"}
    Material
%li#header-button-pink
  %a.page-scroll{:href => "#contact"}
    Contacto




