/ Brand and toggle get grouped for better mobile display
.navbar-header.page-scroll.nav-full-width
  %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  %a.navbar-brand.page-scroll.nav-full-width{:href => "#page-top", style: "font-size: 30px; font-weight: bold; padding-top: 10px; padding-bottom: 10px; height: 50px;"} UM Bragado
/ Collect the nav links, forms, and other content for toggling
#bs-example-navbar-collapse-1.collapse.navbar-collapse
  %ul.nav.navbar-nav.navbar-right.nav-full-width
    = render "/home/navbar_menu"
