%section#portfolio
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Material
        %h3.section-subheading.text-muted 
          Acá vas a poder encontrar todo el material necesario para desarrollarte en el modelo. Reglamentos, Dinámicas, Tópicos, Cronogramas y demás.

    .row
      - @sections.each do |section| 
        .col-md-3.col-sm-4.portfolio-item
          %a.portfolio-link{href: folder_path(id: section.id)}
            .portfolio-hover
              .portfolio-hover-content
                %i.fa.fa-plus.fa-3x
            %img.img-responsive{:alt => "", :src => "/img/portfolio/sections/#{section.classification}.jpg", style: "width: 360px; height: 200px;"}/
          .portfolio-caption{style: "padding-left: 10px; padding-right: 10px;"}
            %h4 
              = section.name

      .col-md-3.col-sm-4.portfolio-item
        %a.portfolio-link{href: topics_archives_path}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "/img/portfolio/sections/topics.jpg", style: "width: 360px; height: 200px;"}/
        .portfolio-caption
          %h4 
            Tópicos 2018


      / .row
      /   .col-md-4.col-sm-6.portfolio-item
      /     %a.portfolio-link{href: "#"}
      /       .portfolio-hover
      /         .portfolio-hover-content
      /           %i.fa.fa-plus.fa-3x
      /       %img.img-responsive{:alt => "", :src => "img/portfolio/principal2.jpg", style: "width: 360px; height: 260px;"}/
      /     .portfolio-caption
      /       %h4 General
      /   .col-md-4.col-sm-6.portfolio-item
      /     %a.portfolio-link{href: "#"}
      /       .portfolio-hover
      /         .portfolio-hover-content
      /           %i.fa.fa-plus.fa-3x
      /       %img.img-responsive{:alt => "", :src => "img/portfolio/ag4.jpg", style: "width: 360px; height: 260px;"}/
      /     .portfolio-caption
      /       %h4 Asamblea General
      /   .col-md-4.col-sm-6.portfolio-item
      /     %a.portfolio-link{href: "#"}
      /       .portfolio-hover
      /         .portfolio-hover-content
      /           %i.fa.fa-plus.fa-3x
      /       %img.img-responsive{:alt => "", :src => "img/portfolio/tratados3.jpg", style: "width: 360px; height: 260px;"}/
      /     .portfolio-caption
      /       %h4 Sala de Tratados
      /   .col-md-4.col-sm-6.portfolio-item
      /     %a.portfolio-link{href: "#"}
      /       .portfolio-hover
      /         .portfolio-hover-content
      /           %i.fa.fa-plus.fa-3x
      /       %img.img-responsive{:alt => "", :src => "img/portfolio/cs1.jpg", style: "width: 360px; height: 260px;"}/
      /     .portfolio-caption
      /       %h4 Consejo de Seguridad
      /   .col-md-4.col-sm-6.portfolio-item
      /     %a.portfolio-link{href: "#"}
      /       .portfolio-hover
      /         .portfolio-hover-content
      /           %i.fa.fa-plus.fa-3x
      /       %img.img-responsive{:alt => "", :src => "img/portfolio/segib.jpg", style: "width: 360px; height: 260px;"}/
      /     .portfolio-caption
      /       %h4 SEGIB
      /   .col-md-4.col-sm-6.portfolio-item
      /     %a.portfolio-link{href: "#"}
      /       .portfolio-hover
      /         .portfolio-hover-content
      /           %i.fa.fa-plus.fa-3x
      /       %img.img-responsive{:alt => "", :src => "img/portfolio/principal11.jpg", style: "width: 360px; height: 260px;"}/
      /     .portfolio-caption
      /       %h4 Autoridades