%section#services
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Valores
    %br
    .row.text-center
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-lock.fa-stack-1x.fa-inverse
        %h4.service-heading Compromiso
        %p.text-muted Este modelo intenta transmitir a los jovenes que se comprometan en el estudio de otras culturas y conlleva un compromiso aun mayor para con sus compa単eros y sus pares.
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-laptop.fa-stack-1x.fa-inverse
        %h4.service-heading Liderazgo
        %p.text-muted Uniendo metas con metodologia naciones unidas ense単a a los jovenes no seolo de bragado sino de toda la republica argentina a ser capacez de tomar decicones o desempe単arse en la sociedad de hoy.
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-users.fa-stack-1x.fa-inverse
        %h4.service-heading Amistad
        %p.text-muted Quiza lo mas importante, no? Quien no se ha hecho un amigo en el modelo? Quien no se ha reido de algo? Quien no ha llorado de emocion con un compa単ero?
    %br
    .row
      .col-lg-12.text-center
        %h3.section-subheading.text-muted Si todavia no sos uno de eso, es lo que te prometemos que te vas a llevar, asi que anotate. BIENVENIDOS!