%section#services.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Valores
    %br
    .row.text-center
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-lock.fa-stack-1x.fa-inverse
          //%i.fa.fa-handshake-o.fa-stack-1x.fa-inverse
        %h4.service-heading Compromiso
        //%p.text-muted Este modelo intenta transmitir a los jovenes que se comprometan en el estudio de otras culturas y conlleva un compromiso aun mayor para con sus compañeros y sus pares.
        %p.text-muted{style: "text-align: justify;"} A través de la capacitación y la participación en ejercicios de simulación y de diálogo bajo la Metodología de Naciones Unidas, UNIENDO METAS brinda a los jóvenes de todo el país la oportunidad de poner en práctica sus conocimientos y experiencias, dialogar y fortalecer los lazos sociales con sus pares, y estar mejor preparados para tomar decisiones tanto para su vida individual como social y laboral. 
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-users.fa-stack-1x.fa-inverse
        %h4.service-heading Liderazgo
        //%p.text-muted Uniendo metas con metodologia naciones unidas enseña a los jovenes no seolo de bragado sino de toda la republica argentina a ser capacez de tomar decicones o desempeñarse en la sociedad de hoy.
        %p.text-muted{style: "text-align: justify;"} Se crea un espacio en el que se concientiza a los estudiantes sobre la importancia de  su involucramiento y participación en los asuntos públicos de su comunidad como la clave para alcanzar su desarrollo. A su vez, mejora su preparación como tomadores de decisiones, habilidad clave para planificar el desarrollo de su vida individual y en sociedad y, por tanto, para el pleno ejercicio de la ciudadanía. 

      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-smile-o.fa-stack-1x.fa-inverse
        %h4.service-heading Amistad
        //%p.text-muted Quiza lo mas importante, no? Quien no se ha hecho un amigo en el modelo? Quien no se ha reido de algo? Quien no ha llorado de emocion con un compañero?
        %p.text-muted{style: "text-align: justify;"} Favorecer la cohesión social en los jóvenes participantes y potenciar las posibilidades de colaboración y cooperación  como así también el fortalecimiento de lazos sociales e integración con otros jóvenes.       

    %br
    .row
      .col-lg-12.text-center
        %h3 Sumate a nuestro desafío en la educación y la formación de ciudadanos comprometidos con su comunidad

