%section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Nuestro maravilloso equipo
        %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    
    - @trainers.each do |trainer|
      = render "home/trainer_section", trainer: trainer

    .row
      .col-lg-8.col-lg-offset-2.text-center
        %p.large.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.