.col-sm-3
  .team-member
    = image_tag "img/team/2.jpg", class: "img-responsive img-circle" #trainer.principal_image.thumb
    = #image_tag trainer.secondary_image.thumb, class: "hover img-responsive img-circle"
    %h4 
      = trainer.full_name
    %p.text-muted
      = trainer.rol
    %ul.list-inline.social-buttons
      - if trainer.twitter_url.present?
        %li
          %a{href: trainer.twitter_url, target: '_blank'}
            %i.fa.fa-twitter
      - if trainer.facebook_url.present?
        %li
          %a{href: trainer.facebook_url, target: '_blank'}
            %i.fa.fa-facebook
      - if trainer.instagram_url.present?
        %li
          %a{href: trainer.instagram_url, target: '_blank'}
            %i.fa.fa-instagram