.col-xs-12.text-center
  %br
  %b
    AUTORIZACIÓN
  %br
  %br
.col-xs-12{style: "font-size: 12px;"}
  Autorizo al Inscripto a participar del Proyecto Educativo VIII Encuentro Regional Uniendo Metas, Jóvenes para el Futuro, que se realizará los días 30, 31 de Agosto y 1 de Septiembre en la Ciudad de Bragado, como representante designado por la escuela:
  %br
  %hr{style: "border-top: 1px solid black; margin-bottom: 10px;"}  
  Mi hijo/a acatará las normas de disciplina que se establezcan y será responsable de su propia seguridad, quedando eximidas las autoridades del colegio al que pertenezca, así como la Asociación Conciencia y las personas que integran el Comité Organizador, de cualquier responsabilidad por pérdidas, hurtos, daños, accidentes y toda otra contingencia que pudiera afectar a mi hijo/a, durante el transporte desde o hacia el lugar donde se realizará el Proyecto Educativo, o durante el transcurso de éste, por todo lo cual asumo exclusivamente la total responsabilidad.
  %br
  %br
  Al mismo tiempo brindo autorización para que pueda publicarse una foto de él en el sitio web de Asociación Conciencia www.conciencia.org, el en sitio web del programa www.uniendometas.org.ar y el sitio web del Modelo Naciones Unidas Bragado www.mnubragado.com
  %br
  %br


.col-xs-12{style: "font-size: 12px;"}
  %hr{style: "border-top: 1px solid black; margin-bottom: 0px;"}    
  FIRMA DEL PADRE, MADRE O TUTOR
  %br
  %hr{style: "border-top: 1px solid black; margin-bottom: 0px;"}    
  ACLARACIÓN
  %br
  %hr{style: "border-top: 1px solid black; margin-bottom: 0px;"}    
  DNI
  %br
  %hr{style: "border-top: 1px solid black; margin-bottom: 0px;"}    
  FECHA Y LUGAR
  %br
  %hr{style: "border-top: 3px solid black; margin-bottom: 0px;"} 
  %br
  %hr{style: "border-top: 1px solid black; margin-bottom: 0px;"}    
  CERTIFICO QUE LA FIRMA QUE ANTECEDE HA SIDO PUESTA ANTE MÍ Y PERTENECE A:
  %br
  %hr{style: "border-top: 1px solid black; margin-bottom: 0px;"}    
  FIRMA Y SELLO
  %br
  %br
  
.col-xs-12
  .admin-common-panel
    .row
      .col-md-12.admin-common-panel__content{style: "font-size: 10px;"}
        .col-xs-12
          %b
            IMPORTANTE:
          %br
          %br
          %li Esta autorización carece de validez si no se CERTIFICA la firma ante Escribano, Juez de Paz o Autoridad Máxima del Establecimiento al que concurre el/la alumno/a.
          %li Estos formularios deberán ser ENTREGADOS ANTES DEL DÍA 27 de Mayo
          %li Se deberá adjuntar copia fiel del APTO FÍSICO que consta en los registros del establecimiento, o bien, certificado médico que de fe de los datos ingresados en esta ficha.
          %li Se ruega ingresar los datos en LETRA IMPRENTA LEGIBLE
          %br      
