.col-xs-12{style: "font-size: 11px;"}
  %br
  %br
  %b AL PRESENTAR ESTA DOCUMENTACION: 
  
  %br
  %br
  
  DECLARO QUE LA INFORMACIÓN BRINDADA A CONTINUACIÓN SERÁ BAJO PRESENTACIÓN DE MI CARÁCTER DE PADRE/MADRE, TUTOR Y/O CURADOR, QUE HE LEÍDO LO INFORMADO EN EL ANEXO CORRESPONDIENTE A LA PROTECCIÓN DE DATOS PERSONALES REGIDO SEGÚN LA LEY 25.326 Y EL DERECHO DE IMÁGEN REGIDO SEGÚN EL ARTÍCULO 53 DE LA LEY 26.994 Y POR CONSIGUIENTE ACEPTO EXPRESAMENTE TODO LO ALLÍ EXPRESADO. 

  %br
  %br

  AUTORIZO EXPRESAMENTE A CONCIENCIA Y A SUS COLABORADORES A RECOLECTAR, UTILIZAR CEDER TODOS LOS DATOS PERSONALES, IMÁGENES, TESTIMONIOS, FOTOGRAFÍAS, VIDEOS Y MATERIAL PRÁCTICO Y/O AUDIOVISUAL DEL PARTICIPANTE, QUE FUERAN RECOLECTADOS EN EL MARCO DEL PROGRAMA. ESTOS DATOS PODRÁN SER EDITADOS Y CEDIDOS SIN NECESIDAD DE AUTORIZACIÓN ADICIONAL, CON FINALIDADES RELACIONADAS A LA PROMOCIÓN Y DIVULGACIÓN DEL PROGRAMA A TRAVÉS DE CUALQUIER MEDIO DE COMUNICACIÓN NACIONAL E INTERNACIONAL Y SIN DERECHO A RECIBIR COMPENSACIÓN ALGUNA POR ELLO. 

  %br
  %br
  
  HE SIDO DEBIDAMENTE INFORMADO DEL ALCANCE QUE TENDRÁN LOS DATOS BRINDADOS EN EL FORMULARIO A COMPLETAR, DECLARANDO NO TENER NADA QUE RECLAMAR A CONCIENCIA O A SUS COLABORADORES POR NINGÚN CONCEPTO DIRECTO O INDIRECTO RELACIONADO CON EL USO DE LOS DATOS DEL PARTICIPANTE EN EL PROGRAMA, QUE SE PUDIERAN SUSCRITAR COMO CONSECUENCIA Y/O EN OCASIÓN DE SU PARTICIPACIÓN EN EL PROGRAMA.




.col-xs-12.text-center
  %br
  %b
    AUTORIZACIÓN
  %br
  %br
.col-xs-12{style: "font-size: 11px;"}
  Autorizo al Inscripto a participar del XII Encuentro Uniendo Metas Bragado, que se realizará los días 4, 5 y 6 de Octubre
  - if show_school
    , como representante designado por la escuela: 
    %b 
      = school
    %br
    .col-xs-6{style: "padding-left: 0px; font-size: 12px;"}
      %hr{style: "border-top: 1px solid black; margin-bottom: 0px; margin-top: 30px;"}    
      FIRMA DEL DIRECTOR DEL ESTABLECIMIENTO
    .col-xs-6{style: "padding-right: 0px; font-size: 12px;"}
      %hr{style: "border-top: 1px solid black; margin-bottom: 0px; margin-top: 30px;"}    
      ACLARACIÓN
    %br
    .col-xs-6{style: "padding-left: 0px; font-size: 12px;"}
      %hr{style: "border-top: 1px solid black; margin-bottom: 0px; margin-top: 30px;"}    
      DNI
    .col-xs-6{style: "padding-right: 0px; font-size: 12px;"}
      %hr{style: "border-top: 1px solid black; margin-bottom: 0px; margin-top: 30px;"}    
      FECHA Y LUGAR
    %hr
    %br
    %br
    %hr{style: "border-top: 3px solid black; margin-bottom: 0px;"} 
    %br
    %br

  Mi hijo/a acatará las normas de disciplina que se establezcan y será responsable de su propia seguridad, quedando eximidas las autoridades del colegio al que pertenezca, así como la Asociación Conciencia y las personas que integran el Comité Organizador, de cualquier responsabilidad por pérdidas, hurtos, daños, accidentes y toda otra contingencia que pudiera afectar a mi hijo/a, durante el transporte desde o hacia el lugar donde se realizará el Proyecto Educativo, o durante el transcurso de éste, por todo lo cual asumo exclusivamente la total responsabilidad.
  %br
  %br
  Al mismo tiempo brindo autorización para que pueda publicarse una foto de él en el sitio web de Asociación Conciencia www.conciencia.org, el en sitio web del programa www.uniendometas.org.ar y el sitio web del Modelo Naciones Unidas Bragado www.mnubragado.com
  %br
  %br


.col-xs-12{style: "font-size: 12px;"}
  .col-xs-6{style: "padding-left: 0px;"}
    %hr{style: "border-top: 1px solid black; margin-bottom: 0px; margin-top: 30px;"}    
    FIRMA DEL PADRE, MADRE O TUTOR
  .col-xs-6{style: "padding-right: 0px;"}
    %hr{style: "border-top: 1px solid black; margin-bottom: 0px; margin-top: 30px;"}    
    ACLARACIÓN
  %br
  .col-xs-6{style: "padding-left: 0px;"}
    %hr{style: "border-top: 1px solid black; margin-bottom: 0px; margin-top: 30px;"}    
    DNI
  .col-xs-6{style: "padding-right: 0px;"}
    %hr{style: "border-top: 1px solid black; margin-bottom: 0px; margin-top: 30px;"}
    FECHA Y LUGAR
  %hr
  %br
  %br
  %hr{style: "border-top: 3px solid black; margin-bottom: 0px;"} 
  %br
  Certifico que …………………………………………………………………. de ……… años de edad ha sido analizado clínicamente y se encuentra apto/a para participar de forma presencial del Encuentro.
  %br
  %br
  %br
  %hr{style: "border-top: 1px solid black; margin-bottom: 0px;"}    
  FIRMA Y SELLO
  %br
  %br
  
.col-xs-12
  .admin-common-panel
    .row
      .col-md-12.admin-common-panel__content{style: "font-size: 11px;"}
        .col-xs-12
          %b
            IMPORTANTE:
          %br
          %br
          %li Esta autorización carece de validez si no se CERTIFICA la firma ante Escribano, Juez de Paz o Autoridad Máxima del Establecimiento al que concurre el/la alumno/a.
          // %li Estos formularios deberán ser ENTREGADOS ANTES DEL DÍA 27 de Mayo
          // %li Se deberá adjuntar copia fiel del APTO FÍSICO que consta en los registros del establecimiento, o bien, certificado médico que de fe de los datos ingresados en esta ficha.
          %br      
