.qrcode
  .col-xs-2
    = raw @qr.as_html
  .col-xs-10.text
    Este código será utilizado por el equipo de coordinación para la aprobación de la inscripción. Asegurese de que al momento de imprimir el comprobante, el mismo sea legible 
