%body#page-top.index
  = render "/shared/simple_navbar"

  %header{style: "background-color: #222; background-image: url('../img/principal/mnubragado-background2.png');"}
    .container{style: "padding-top: 70px; padding-bottom: 240px; margin-top: 50px;"}
    
  %header{style: "background: white; margin-top: 0px; background: white; color: #fed136;"}
    .container
      .intro-text{style: "padding-top: 40px; padding-bottom: 50px;"}
        .intro-lead-in{style: "color: #524482;"} Uniendo Metas, Jóvenes para el Futuro
        .intro-heading{style: "color: #2A8CC8;"} Modelo Naciones Unidas Bragado
        .row
          .col-xs-12.col-md-6{style: "padding: 5px;"}
            %a.page-scroll.btn.btn-xl{:href => new_delegate_inscription_path, style: "background: #49AC7B; border-color: #49AC7B; width: 100%;"} 
              Inscripción Delegados
          .col-xs-12.col-md-6{style: "padding: 5px;"}
            %a.page-scroll.btn.btn-xl{:href => new_authority_inscription_path, style: "width: 100%;"} 
              Inscripción Autoridades
          .col-xs-12.col-md-6{style: "padding: 5px;"}
            %a.page-scroll.btn.btn-xl{:href => new_professor_inscription_path, style: "background: #D94F42; border-color: #D94F42; width: 100%;"}   
              Inscripción Profesores
          .col-xs-12.col-md-6{style: "padding: 5px;"}
            %a.page-scroll.btn.btn-xl{:href => new_school_inscription_path, style: "background: #524482; border-color: #524482; width: 100%;"}   
              Inscripción Escuelas
          
  
  = render "/shared/simple_footer"
