%body#page-top.index
  = render "/shared/simple_navbar"

  %header{style: "background-image: url('img/principal/mnubragado-background4.jpeg'); color: #fed136;"}
    .container
      .intro-text{style: "padding-top: 400px; padding-bottom: 50px; margin-top: 50px;"}
        .intro-lead-in{style: "color: #524482;"} Uniendo Metas, J贸venes para el Futuro
        .intro-heading{style: "color: #2A8CC8;"} Modelo Naciones Unidas Bragado
        .row
          .col-xs-12.col-md-6{style: "padding: 5px;"}
            %a.page-scroll.btn.btn-xl{:href => new_delegate_inscription_path, style: "background: #49AC7B; border-color: #49AC7B; width: 100%;"} 
              Inscripci贸n Delegados
          .col-xs-12.col-md-6{style: "padding: 5px;"}
            %a.page-scroll.btn.btn-xl{:href => new_authority_inscription_path, style: "width: 100%;"} 
              Inscripci贸n Autoridades
          .col-xs-12.col-md-6{style: "padding: 5px;"}
            %a.page-scroll.btn.btn-xl{:href => new_professor_inscription_path, style: "background: #D94F42; border-color: #D94F42; width: 100%;"}   
              Inscripci贸n Profesores
          .col-xs-12.col-md-6{style: "padding: 5px;"}
            %a.page-scroll.btn.btn-xl{:href => new_school_inscription_path, style: "background: #524482; border-color: #524482; width: 100%;"}   
              Inscripcion Escuelas
          
  
  = render "/shared/simple_footer"
