= link_to(admin_delegates_check_participation_path(), method: :post, class: "btn btn-primary admin-header-buttons__item") do
  %span
    Checkear Participación
  %i.fa.fa-search.ml5

= render "admin/shared/export_to_excel_button", page: page
= render "admin/application/header_buttons", page: page
