%section#certificate{style: "height: 800px;"}
  .row
    .col-xs-12
      / .row
      /   .col-xs-12
      /     / = wicked_pdf_image_tag "/img/certificate/logos.jpg", style: "width: 100%; margin-top: 50px;"
      /     = wicked_pdf_image_tag "/img/certificate/logos3.png", style: "width: 100%; margin-top: 40px; padding-right: 40px; padding-left: 40px;"

      .row
        .col-xs-12
          %p.text-center{style: "font-size: 32px; line-height: 2.1; margin-top: 195px; margin-bottom: 30px; padding-left: 10px; padding-right: 10px; font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;"}
            Por cuanto 
            %span{style: "font-style: italic; font-weight: bold; margin-right: 10px; margin-left: 10px; border-bottom: 1px solid black;"}
              = @partaker.index_name
            ha participado en el I Encuentro Virtual del Programa "Uniendo Metas Bragado, Jóvenes para el Futuro" metodología Modelo de Naciones Unidas, de Asociación Conciencia, realizado el 7, 8 y 9 de Octubre de 2020, en Bragado, Buenos Aires.
            %br
            %span{style: "font-size: 12px; font-weight: bold;"} 9 de Octubre de 2020, Bragado, Buenos Aires.

  .row{style: "position: fixed; bottom: 0; left: 0"}
    .col-xs-12
      = wicked_pdf_image_tag "/img/certificate/2020/signs.jpeg", style: "width: 100%;height: 230px; padding-left: 80px; padding-right: 80px; padding-bottom: 100px;"
      = #wicked_pdf_image_tag "/img/certificate/footer.jpg", style: "width: 100%; margin-top: 10px;"

