%body#page-top.index
  = render "/shared/simple_navbar"
  
  = render "/shared/shared_header", id: "files"

  .container{style: "margin-top: -50px;"}
    .row
      .col-lg-12
        %h1.section-heading.pull-left{style: "color: #333;"}
          Bases y Condiciones


  %section#files{style: "margin-top: -150px;"}
    .container
      .row
        .col-xs-12
          .admin-common-panel
            .row.admin-common-panel__content
              .col-xs-12
                .col-xs-12
                  %h4
                    DECLARO que la información brindada a continuación será BAJO PRESENTACIÓN de mi carácter de padre/madre, tutor y/o curador, que HE LEÍDO LO INFORMADO en el Anexo CORRESPONDIENTE A LA PROTECCIÓN DE DATOS PERSONALES regido según la ley 25.326 y EL DERECHO DE IMÁGEN regido según el artículo 53 de la ley 26.994 y por consiguiente ACEPTO EXPRESAMENTE todo lo allí expresado.

                    %br
                    %br
                    
                    Anexo:

                    %br

                    Se entiende por datos personales (en adelante, indistintamente, los "Datos") a la información de cualquier tipo referida a personas físicas o de existencia ideal determinadas o determinables (según art 2 de la Ley de Protección de datos personales).

                    %br
                    %br

                    Se entiende por banco de datos al conjunto organizado de datos personales que sean objeto de tratamiento o procesamiento, electrónico o no, cualquiera que fuere la modalidad de su formación, almacenamiento, organización o acceso.

                    %br
                    %br

                    Fin de los datos personales: LOS DATOS PERSONALES SERÁN RECOLECTADOS EN CUPLIMIENTO DE LA LEGISLACIÓN DE PRIVACIDAD Y SERÁN INCORPORADOS EN LA BASE DE DATOS DE CONCIENCIA, ANTE QUIEN SE PODRÁ EJERCER EL DERECHO DE ACCESO. Asimismo, se informa que:

                    %br
                    
                    1. El titular de los Datos Personales tiene la facultad de ejercer derecho de acceso a los mismos a inervalos no menores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley N° 25.326.

                    %br
                    %br

                    2. El Titular de los Datos Personales podrá en cualquier momento soliciar el retiro o bloqueo de su nombre de los bancos de datos de Conciencia.

                    %br
                    %br

                    3. El Titular de los Datos Personales podrá ejercer el derecho de acceso, rectificación, actualización y supresión de forma gratuita en Tucumán 731, piso 1, oficina 'A', Ciudad Autónoma de Buenos Aires.

                    %br
                    %br

                    4. La Agencia de Acceso a la Información Pública, en su carácter de Órgano de Control de la Ley N° 25.326, tiene la atribución de atender las denuncias y reclamos que interpongan quienes resulten afectados en sus derechos por incumplimiento de las normas vigentes en materia de protección de datos personales.

                    %br
                    %br

                    5. Todos los Datos que sean recolectados con finalidades distintas a las mencionadas serán en virtud de la relación existente entre el titular de los Datos y Conciencia conforme las exepciones establecidas en el inciso 2, literales c) y d) del artículo 5 de la Ley 25.526 indicando aquellos que no será necesario el consentimiento cuando: c) Se trate de listados cuyos datos se limiten a nombre, documento nacional de identidad, identificación tributaria o previsional, ocupación, fecha de nacimineto y domicilio; d) Deriven de una relación contractual, científica o profesional del titular de los datos, y resulten necesarios para su desarrollo o cumplimiento.

                    %br
                    %br
                    %br

                    Autorizo expresamente a Conciencia y a sus colaboradores a recolectar, utilizar  ceder todos los datos personales, imágenes, testimonios, fotografías, videos y material práctico y/o audiovisual del Participante, que fueran recolectados en el marco del Programa. Estos Datos podrán ser editados y cedidos sin necesidad de autorización adicional, con finalidades relacionadas a la promoción y divulgación del Programa a través de cualquier medio de comunicación nacional e internacional y sin derecho a recibir compensación alguna por ello.

                    %br
                    %br

                    He sido debidamente informado del alcance que tendrán los datos brindados en el formulario a completar, declarando no tener nada que reclamar a Conciencia o a sus colaboradores por ningún concepto directo o indirecto relacionado con el uso de los Datos del Participante en el Programa, que se pudieran suscritar como consecuencia y/o en ocasión de su participación en el Programa.



  = render "/shared/simple_footer"