//Team Section
/*.trainer-member img.hover {
  display: none;
}

.trainer-member img.nohover:hover {
  display: none;
  .hover{
    display: block;
  }
} */


// Purple
#header-button-purple {
  color: #524482; 
  font-weight: bold; 
}

#header-button-purple a {
  color: #524482;
  font-weight: bold; 
  padding-top: 15px;
  padding-bottom: 15px;
}

#header-button-purple a:hover {
  color: white; 
  background: #524482;  
  font-weight: bold; 
  border-radius: 4px;
} 

#header-button-purple.active a {
  color: white; 
  font-weight: bold; 
  border-radius: 4px;
  background: #524482;  
} 



// Blue
#header-button-blue {
  color: #2A8CC8; 
  font-weight: bold; 
}

#header-button-blue a {
  color: #2A8CC8;
  font-weight: bold; 
  padding-top: 15px;
  padding-bottom: 15px;
}

#header-button-blue a:hover {
  color: white; 
  font-weight: bold; 
  border-radius: 4px;
  background: #2A8CC8; 
} 

#header-button-blue.active a {
  color: white; 
  font-weight: bold; 
  border-radius: 4px;
  background: #2A8CC8;  
} 

#header-button-blue.open a {
} 



// Green
#header-button-green {
  color: #49AC7B; 
  font-weight: bold; 
}

#header-button-green a {
  color: #49AC7B;
  font-weight: bold; 
  padding-top: 15px;
  padding-bottom: 15px;
}

#header-button-green a:hover {
  color: white; 
  background: #49AC7B;  
  font-weight: bold; 
  border-radius: 4px;
} 

#header-button-green.active a {
  color: white; 
  font-weight: bold; 
  border-radius: 4px;
  background: #49AC7B;  
} 



// Yellow
#header-button-yellow {
  color: #fed136; 
  font-weight: bold; 
}

#header-button-yellow a {
  color: #fed136; 
  font-weight: bold; 
  padding-top: 15px;
  padding-bottom: 15px;
}

#header-button-yellow a:hover {
  color: white; 
  background: #fed136;  
  font-weight: bold; 
  border-radius: 4px;
} 

#header-button-yellow.active a {
  color: white; 
  font-weight: bold; 
  border-radius: 4px;
  background: #fed136; 
} 



// Red
#header-button-red {
  color: #D94F42; 
  font-weight: bold; 
}

#header-button-red a {
  color: #D94F42;
  font-weight: bold; 
  padding-top: 15px;
  padding-bottom: 15px;
}

#header-button-red a:hover {
  color: white; 
  font-weight: bold; 
  border-radius: 4px;
  background: #D94F42;  
} 

#header-button-red.active a {
  color: white; 
  font-weight: bold; 
  border-radius: 4px;
  background: #D94F42;  
} 



// Brown
#header-button-brown {
  color: #A1B550; 
  font-weight: bold; 
}

#header-button-brown a {
  color: #A1B550;
  font-weight: bold; 
  padding-top: 15px;
  padding-bottom: 15px;
}

#header-button-brown a:hover {
  color: white; 
  font-weight: bold; 
  border-radius: 4px;
  background: #A1B550; 
} 

#header-button-brown.active a {
  color: white; 
  font-weight: bold; 
  border-radius: 4px;
  background: #A1B550;  
} 



// Pink
#header-button-pink {
  color: #EFA4AB; 
  font-weight: bold; 
}

#header-button-pink a {
  color: #EFA4AB;
  font-weight: bold; 
  padding-top: 15px;
  padding-bottom: 15px;
}

#header-button-pink a:hover {
  color: white; 
  font-weight: bold; 
  border-radius: 4px;
  background: #EFA4AB;  
} 

#header-button-pink.active a {
  color: white; 
  font-weight: bold; 
  border-radius: 4px;
  background: #EFA4AB;  
} 

header.header-navbar {
  margin-top: 0px;
  background-image: url('/img/principal/mnubragado-background4.jpeg');
  color: #fed136;
}

header.header-navbar .intro-text.intro-text-large {
  padding-top: 375px; 
  padding-bottom: 75px; 
  margin-top: 50px;
}

header.header-navbar .intro-text.intro-text-small {
  padding-top: 475px; 
  padding-bottom: 50px; 
  margin-top: 180px;
}

.container.container-navbar {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
}

.nav-full-width {
  width: 100%;
  text-align: center;
}




//Extra Section
.timeline-item {
  -webkit-box-shadow: none; 
  border: none; 
  box-shadow: none;
}

#extra .about-item {
  margin: 0 0 15px;
  right: 0;
}
#extra .about-item .about-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#extra .about-item .about-link .about-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#extra .about-item .about-link .about-hover:hover {
  opacity: 1;
}
#extra .about-item .about-link .about-hover .about-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#extra .about-item .about-link .about-hover .about-hover-content i {
  margin-top: -12px;
}
#extra .about-item .about-link .about-hover .about-hover-content h3,
#extra .about-item .about-link .about-hover .about-hover-content h4 {
  margin: 0;
}
#extra .about-item .about-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#extra .about-item .about-caption h4 {
  text-transform: none;
  margin: 0;
}
#extra .about-item .about-caption p {
  font-family: serif-font;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#extra * {
  z-index: 2;
}







.zoom {
  position: fixed;
  bottom: 45px;
  right: 24px;
  height: 70px;
}
.zoom-fab {
  display: inline-block;
  font-size: 26px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #009688;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #FFF;
}
.zoom-fab:hover {
  background-color: #4db6ac;
  color: white;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.zoom-btn-large {
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.zoom-menu {
  position: absolute;
  right: 70px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 500px;
  list-style: none;
  text-align: right;
}
.zoom-menu li {
  display: inline-block;
  margin-right: 10px;
}
.zoom-card {
  position: absolute;
  right: 0px;
  bottom: 80px;
  transition: box-shadow 0.25s;
  width: 300px;
  border-radius: 2px;
  background-color: #009688;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #FFF;
}
.zoom-card ul {
  -webkit-padding-start: 0;
  list-style: none;
  text-align: left;
}
.zoom-card-content {
  margin-bottom: 0px;
}

.scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }
.scale-transition.scale-out {
  transform: scale(0);
  transition: transform 0.2s !important;
}
.scale-transition.scale-in { transform: scale(1); }
.zoom-btn-person { background-color: #F44336; }
.zoom-btn-person:hover { background-color: #e57373; }
.zoom-btn-doc { background-color: #ffeb3b; }
.zoom-btn-doc:hover { background-color: #fff176; }
.zoom-btn-tangram { background-color: #4CAF50; }
.zoom-btn-tangram:hover { background-color: #81c784; }
.zoom-btn-report { background-color: #2196F3; }
.zoom-btn-report:hover { background-color: #64b5f6; }
.zoom-btn-feedback { background-color: #9c27b0; }
.zoom-btn-feedback:hover { background-color: #ba68c8; }

.zoom-btn-twitter { background-color: #1da1f2; }
.zoom-btn-twitter:hover { background-color: #8b9dc3; }
.zoom-btn-instagram { background-color: #bc2a8d; }
.zoom-btn-instagram:hover { background-color: #8a3ab9; }
.zoom-btn-facebook { background-color: #3b5998; }
.zoom-btn-facebook:hover { background-color: #2A8CC8; }
.zoom-btn-main { background-color: #fed136; }
.zoom-btn-main:hover { background-color: #fec503; }

/*INSTAGRAM*/
#instagram-content.zoom-card:before{
  position: absolute;
  bottom: -20px;
  height: 0;
  width: 0;
  right: 208px;
  border: 10px solid transparent;
  border-top-color: #bc2a8d;
  content: "";
}

/*FACEBOOK*/
#facebook-content.zoom-card:before{
  position: absolute;
  bottom: -20px;
  height: 0;
  width: 0;
  right: 149px;
  border: 10px solid transparent;
  border-top-color: #3b5998;
  content: "";
}

/*TWITTER*/
#twitter-content.zoom-card:before{
  position: absolute;
  bottom: -20px;
  height: 0;
  width: 0;
  right: 91px;
  border: 10px solid transparent;
  border-top-color: #1da1f2;
  content: "";
}


@media (min-width:767px){
  .zoom {
    bottom: 100px;
  }

  .zoom-fab {
    font-size: 60px;
    width: 100px;
    height: 100px;
    line-height: 95px;
  }

  .zoom-btn-large {
    width: 120px;
    height: 120px;
    line-height: 115px;
  }

  .zoom-card {
    width: 700px;
    margin-bottom: 40px;
  }

  .zoom-card#facebook-content {
    width: 500px;
  }

  .zoom-card#instagram-content {
    width: 500px;
  }

  /*INSTAGRAM*/
  #instagram-content.zoom-card:before{
    bottom: -94px;
    right: 391px;
    border: 47px solid transparent;
    border-top-color: #bc2a8d;
  }

  /*FACEBOOK*/
  #facebook-content.zoom-card:before{
    bottom: -94px;
    right: 272px;
    border: 47px solid transparent;
    border-top-color: #3b5998;
  }

  /*TWITTER*/
  #twitter-content.zoom-card:before{
    bottom: -94px;
    right: 157px;
    border: 47px solid transparent;
    border-top-color: #1da1f2;
  }

  .zoom-menu {
    right: 140px;
  }
}

@media (min-width:1024px){
  .zoom {
    bottom: 20px;
  }

  .zoom-fab {
    font-size: 26px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .zoom-btn-large {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  .zoom-card {
    width: 500px;
    margin-bottom: 20px;
  }

  .zoom-card#facebook-content {
    width: 500px;
  }

  .zoom-card#instagram-content {
    width: 500px;
  }

  /*INSTAGRAM*/
  #instagram-content.zoom-card:before{
    bottom: -50px;
    right: 193px;
    border: 25px solid transparent;
    border-top-color: #bc2a8d;
  }

  /*FACEBOOK*/
  #facebook-content.zoom-card:before{
    bottom: -50px;
    right: 135px;
    border: 25px solid transparent;
    border-top-color: #3b5998;
  }

  /*TWITTER*/
  #twitter-content.zoom-card:before{
    bottom: -50px;
    right: 76px;
    border: 25px solid transparent;
    border-top-color: #1da1f2;
  }

  .zoom-menu {
    right: 70px;
  }
}

@media (min-width:1256px){
  .zoom {
    bottom: 45px;
  }

  .zoom-fab {
    font-size: 26px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .zoom-btn-large {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  .zoom-card {
    width: 300px;
  }

  .zoom-card#facebook-content {
    width: 300px;
  }

  .zoom-card#instagram-content {
    width: 315px;
  }

  .zoom-menu {
    right: 70px;
  }
}