.team-member img.hover {
  display: none;
}

.team-member img.nohover:hover {
  display: none;
  .hover{
    display: block;
  }
} 

.team-member img.hover:hover {
  display: block;
  .nohover{
    display: none;
  }
}

header {
  background-image: url('https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/12087222_625663870909890_8410275137166496918_o.jpg');
} 



