/*
 *= require animate
 *= require fontawesome/css/font-awesome.css.erb
 *= require admin/bootstrap-styles
 *= require bootstrap-datetimepicker
 *= require select2
 *= require select2-bootstrap-theme/dist/select2-bootstrap.min
 *= require metisMenu
 *= require timeline
 *= require sb-admin-2
 *= require admin/backoffice
 *= require admin/common
 *= require bootstrap-wysihtml5
 */

@import "variables.sass";
@import "agency.css";
@import "home.css";
@import "jquery-ui.css";
@import "common/_utility";


.qrcode {
  margin-bottom: 10px;
  display: inline-flex;

  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  td {
    border-left: solid 3px #000;
    padding: 0; 
    margin: 0; 
    width: 0px; 
    height: 3px; 
  }

  td.black { border-color: #000; }
  td.white { border-color: #fff; }

  .text {
    margin-top: 15px;
    font-size: 16px;
  }
}

#certificate {
  // background-image: url(/img/certificate/background.png); 
  background-image: url(/img/certificate/background2.jpg); 
  // background-image: url(/img/certificate/background2.png); 
  background-size: cover; 
  padding: 50px;
}