.form-group.col-xs-12
  = f.input :first_name, required: false, input_html: {class: "form-control"}
.form-group.col-xs-12
  = f.input :last_name, required: false, input_html: {class: "form-control"}
.form-group.col-xs-12
  = f.input :email, required: false, input_html: {class: "form-control"}
.form-group.col-xs-12
  = f.input :password, required: false, input_html: {class: "form-control"}

