= link_to(admin_professors_send_newsletters_path(), method: :post, class: "btn btn-primary admin-header-buttons__item") do
  %span
    Enviar Newsletters
  %i.fa.fa-envelope.ml5

= link_to(admin_professors_send_certificates_path(), method: :post, class: "btn btn-primary admin-header-buttons__item") do
  %span
    Enviar Certificados
  %i.fa.fa-envelope.ml5

= render "admin/shared/export_to_excel_button", page: page
= render "admin/application/header_buttons", page: page
